<h1 align="center">Connexion</h1>

<div>
  <p id="errorLogin" *ngIf="errorLogin" style="color: darkred">Les identifiants ne sont pas corrects</p>
</div>

<div align="center">
    <form [formGroup]="login">

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label for="email">Email</mat-label>
      <input type="email" id="email" matInput formControlName="email">
    </mat-form-field>
    <br>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label for="password">Password</mat-label>
      <input type="password" id="password" matInput formControlName="password">
    </mat-form-field>
    <br>

    <button id="submit" (click)="onSubmit()" mat-raised-button>Connexion</button>

  </form>

</div>
