<div>
  <div id="back">
    <button id="backButton" routerLink="../home" routerLinkActive="active" mat-raised-button>Retour</button>
  </div>

  <div>
    <table mat-table [dataSource]="users"  class="mat-elevation-z8">
      <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef> Prénom </th>
        <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
      </ng-container>

      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="login">
        <th mat-header-cell *matHeaderCellDef> Pseudo </th>
        <td mat-cell *matCellDef="let element"> {{element.login}} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>

      <ng-container matColumnDef="subscription">
        <th mat-header-cell *matHeaderCellDef> Abonnement </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.subscription != null">{{element.subscription}}</span>
          <span *ngIf="element.subscription == null">Sans abonnement</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="update" >
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element"><mat-icon *ngIf="element.type != 'Admin'" [routerLink]="['update', element.id]" routerLinkActive="active">edit</mat-icon></td>
      </ng-container>

      <ng-container matColumnDef="delete" >
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element"><mat-icon *ngIf="element.type != 'Admin'" (click)="deleteUser(element.id)">delete</mat-icon></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
