<div id="home">

  <div id="logout">
    <button id="logoutButton" mat-raised-button>Déconnexion</button>
  </div>

  <div id="menu">
    <button id="product" routerLink="../product" routerLinkActive="active" mat-raised-button color="primary">Produit
    </button>
    <button id="service" routerLink="../service" routerLinkActive="active" mat-raised-button color="primary">Service
    </button>
    <button id="event" routerLink="../event" routerLinkActive="active" mat-raised-button color="primary">Evenement
    </button>
    <button id="user" routerLink="../user" routerLinkActive="active" mat-raised-button color="primary">Utilisateur
    </button>
    <button id="sub" routerLink="../sub" routerLinkActive="active" mat-raised-button color="primary">Abonnement</button>
  </div>


</div>

