<div id="home">

  <div id="logout">
    <button id="logoutButton" mat-raised-button>Déconnexion</button>
  </div>

  <div id="menu">
    <button id="product" routerLink="../product" routerLinkActive="active" mat-raised-button color="primary">Produit
    </button>
    <button id="service" routerLink="../service" routerLinkActive="active" mat-raised-button color="primary">Service
    </button>
    <button id="event" routerLink="../event" routerLinkActive="active" mat-raised-button color="primary">Evenement
    </button>
    <button id="user" routerLink="../user" routerLinkActive="active" mat-raised-button color="primary">Utilisateur
    </button>
    <button id="sub" routerLink="../sub" routerLinkActive="active" mat-raised-button color="primary">Abonnement</button>
  </div>

  <div class="container">
    <section>
      <h2>Upload file</h2>
      <form action='/upload' method='post' enctype='multipart/form-data'>
        <div class="input-group col-md-4">
          <input type='file' name='file' class="form-control"/>
          <div class="input-group-btn">
            <input class="btn btn-default" type='submit' value='Upload'/>
          </div>
        </div>
      </form>
    </section>
    <section>
      <h2>Uploaded Files</h2>
      <div class="files">
        <ul>
        </ul>
      </div>
    </section>
  </div>

  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
          crossorigin="anonymous"></script>

  <script>
    $(document).ready(function () {
      $.get("/files", function (data) {
        for (var i = 0; i < data.length; i++) {
          var file = data[i];
          var element = "<li><a href='/files/" + file + "'>" + data[i] + "</a>";
          $(".files ul").append(element);
        }
      });
    });
  </script>

</div>

